body {
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    font-size: 2em;
    display: flex;
    justify-content: center;
}

#container {
    width: 1000px;
    height: 550px;
    background-color: rgb(44, 110, 107);
    margin: 10px auto;
}

#calculator {
    width: 285px;
    height: 520px;
    background-color: rgb(33, 128, 128);
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rbga(0,0,0,0.2)
}

#result{
    height: 120px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 35px;
}


#keyboard{
    height: 400px;
}

.operator, .number, .empty {
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    float: left;
}

.number, .empty {
    /* background-color: darkcyan; */

}

.number, .operator {
    cursor: pointer;
}
.operator:active, .number:active {
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    background-color: rgb(206, 151, 80);
}

button:nth-child(8){
    font-size: 20px;
    background-color: rgb(65, 141, 177);
}

button:nth-child(12){
    font-size: 20px;
    background-color: rgb(58, 155, 54);
}

button:nth-child(16){
    font-size: 20px;
    background-color: rgb(131, 69, 50);
}

button:nth-child(17){
    font-size: 20px;
    background-color: rgb(33, 128, 128);
}

button:nth-child(19){
    font-size: 20px;
    background-color: rgb(33, 128, 128);
}

button:nth-child(20){
    font-size: 20px;
    background-color: rgb(64, 79, 148);
}


